* {
    margin: 0;
    padding: 0;
}

html, body, #root {
    height:100%;
}

#root {
    display:flex;
    flex-direction: column;
}

header {
    padding: 0.5rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: lightsalmon;
}

main {
    flex-grow: 1;
}

footer {
    background-color: whitesmoke;
}

a {
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.images {
    width: 250px;
    height: 250px;
}

.badge {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
}
